/* nav */
.navbar {
  padding-block: 24px;
  background-color: #2C3E50;
}

.navbar a {
  color: white;

}

.navbar .activeLink {
  background-color: #1ABC9C;
}

.navbar .nav-link {
  font-weight: 700;
  margin-inline: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  width: fit-content;
  padding: 10px;
}
