<section id="contact">
  <div class="container">
    <div class="heading">
      <h1 class="fw-bolder text-center">CONATCT SECTION</h1>
      <div class=" shape my-3 d-flex justify-content-center align-items-center ">
        <div class="left"></div>
        <i class="mx-2 fas fa-star"></i>
        <div class="right"></div>
      </div>
    </div>

    <form id="form">
      <div class="inp">
        <label for="u-name" class="mb-2">UserName :</label>
        <input type="text" name="name" id="u-name" placeholder="UserName...">
      </div>
      <div class="inp">
        <label for="u-age" class="mb-2">UserAge :</label>
        <input type="number" name="age" id="u-age" placeholder="UserAge...">
      </div>
      <div class="inp">
        <label for="u-email" class="mb-2">UserEmail :</label>
        <input type="email" name="email" id="u-email" placeholder="UserEmail...">
      </div>
      <div class="inp">
        <label for="u-pass" class="mb-2">UserPassword :</label>
        <input type="password" name="pass" id="u-pass" placeholder="UserPassword...">
      </div>
      <button class="btn">Submit</button>
    </form>
  </div>

</section>