<main id="main" class="d-flex justify-content-center align-items-center ">
  <div class="d-flex flex-column align-items-center text-center">
    <img src="./assets/avataaars.svg" class="img img-fluid d-block" alt="man">
    <h1 class="fw-bolder">START FRAMEWORK</h1>
    <div class=" shape my-3 d-flex justify-content-center align-items-center ">
      <div class="left"></div>
      <i class="mx-2 fas fa-star"></i>
      <div class="right"></div>
    </div>
    <p>Graphic Artist - Web Designer - Illustrator</p>
  </div>
</main>